<h1>Help</h1>

<dl>
    <dt>Regular use</dt>
    <dd>Enter the time in HH:MM:SS in the textboxes and the press <em>Start</em>.</dd>
    <dt>Change title</dt>
    <dd>Click on the title and edit it.</dd>
    <dd>Add <code>?title=YOUR_TITLE</code> at the end of the URL. Example: <code>https://steevedroz.gitlab.io/countdown/?title=Time before the next decade</code></dd>
    <dt>Set a predefined end time</dt>
    <dd>Add <code>?end=END_TIME</code> at the end of the URL. Exemple: <code>https://steevedroz.gitlab.io/countdown/?end=2020-12-31 23:59:59</code></dd>
    <dd><strong>Note:</strong> this option is intended to be used on a kiosk screen and will therefore remove the footer.</dd>
    <dt>Combining title and end date</dt>
    <dd>Combining title and end date must be made with a <code>&</code>. Example: <code>https://steevedroz.gitlab.io/countdown/?title=Time before the next decade&end=2020-12-31 23:59:59</code></dd>
</dl>
