* {
    box-sizing: border-box;
}

body {
    background: #eee;
    margin: 0;
}

main {
    background: #fff;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0px;
}

menu {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 0;
}

#hours, #minutes, #seconds {
    width: 100px;
    text-align: center;
    font-size: 32px;
}

footer {
    max-width: 800px;
    margin: auto;
    background: #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

footer a {
    display: inline-block;
    background: #ccc;
    padding: 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    background: #888;
    color: #fff;
}
